/* CSS file placeholder. */
body {
  background-color: white;
  color: black;
  /*background-color: black;
  color: white;*/
}

table, th, td {
    border: 1px solid black;
    /*border: 1px solid white;*/
    border-collapse: collapse;
    text-align: center;
  }
}

